*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;   
    font-family: 'Public Sans', sans-serif;   
}
ul{
    list-style: none;
}